replicaCount: 1

image:
  repository: docker.io/guybalmas/temporary-rbac-controller
  tag: v1.1.8
  pullPolicy: IfNotPresent
  pullSecret:
    name: registry-creds

namespace:
  name: tarbac-system
  create: true

service:
  name: webhook-service
  type: ClusterIP
  port: 9443

resources:
  limits:
    memory: 512Mi
    cpu: 150m
  requests:
    memory: 32Mi
    cpu: 20m


webhook:
  useCertManager: true
  certIssuerName: webhook-selfsigned-issuer
  certName: webhook-cert
  certSecretName: webhook-cert-secret
  caBundlePlaceholder: ""
  caBundle: ""

#webhook:
#  certManager:
#    enabled: true
#    certName: webhook-cert
#    selfsigned:
#      certIssuerName: webhook-selfsigned-issuer
#    issuer:
#      apiVersion: ""
#      kind: ""
#      name: ""
#  tls:
#    certSecretName: webhook-cert-secret
#  ca:
#    caBundle: ""


rbac:
  create: true

serviceAccount:
  name: temporary-rbac-controller-sa
