replicaCount: 1

image:
  repository: docker.io/guybalmas/temporary-rbac-controller
  tag: v1.1.12
  pullPolicy: IfNotPresent
  pullSecret:
    name: registry-creds

namespace:
  name: tarbac-system
  create: false

service:
  name: webhook-service
  type: ClusterIP
  port: 9443

resources:
  limits:
    memory: 512Mi
    cpu: 150m
  requests:
    memory: 32Mi
    cpu: 20m

webhook:
  certManager:
    enabled: true
    certName: webhook-cert
    # Default option
    selfsigned:
      certIssuerName: webhook-selfsigned-issuer
    # Optional, set you own Issuer/ClusterIssuer
    issuer:
      apiVersion: ""
      kind: ""
      name: "" # Replace with your issuer name
  tls:
    certSecretName: webhook-cert-secret
  # Optional, if cert-manager is disabled
  # Provide PEM encoded base64 CA bundle
  ca:
    caBundle: ""

rbac:
  create: true

serviceAccount:
  name: temporary-rbac-controller-sa
