replicaCount: 1

image:
  repository: docker.io/guybalmas/temporary-rbac-controller
  tag: v1.1.8
  pullPolicy: IfNotPresent
  pullSecret:
    name: registry-creds

namespace:
  name: tarbac-system
  create: false

service:
  name: webhook-service
  type: ClusterIP
  port: 9443

resources:
  limits:
    memory: 512Mi
    cpu: 150m
  requests:
    memory: 32Mi
    cpu: 20m

webhook:
  certManager:
    enabled: true
    certName: webhook-cert
    selfsigned:
      certIssuerName: webhook-selfsigned-issuer
    issuer:
      apiVersion: ""
      kind: ""
      name: "" # Replace with your issuer name
  tls:
    certSecretName: webhook-cert-secret
  ca:
    # If Cert-Manager is set to 'enabled: false', you must replace the <CA_BUNDLE> in the above example by a valid CA bundle which is a PEM-encoded (field value is Base64 encoded) CA bundle for validating the webhook's server certificate
    caBundle: ""

rbac:
  create: true

serviceAccount:
  name: temporary-rbac-controller-sa
