{{- if eq (include "cert_manager_enabled" .) "true" }}
  {{- if eq (include "use_selfsigned_issuer" .) "true" }}
apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: {{ .Values.webhook.certManager.selfsigned.certIssuerName }}
  namespace: {{ .Values.namespace.name }}
spec:
  selfSigned: {}
  {{- end }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Values.webhook.certManager.certName }}
  namespace: {{ .Values.namespace.name }}
spec:
  secretName: {{ .Values.webhook.tls.certSecretName }}
  issuerRef:
    name: {{ .Values.webhook.certManager.issuer.name | default .Values.webhook.certManager.selfsigned.certIssuerName }}
    kind: {{ .Values.webhook.certManager.issuer.kind | default "Issuer" }}
  commonName: {{ .Values.service.name }}.{{ .Values.namespace.name }}.svc
  dnsNames:
    - {{ .Values.service.name }}
    - {{ .Values.service.name }}.{{ .Values.namespace.name }}.svc
    - {{ .Values.service.name }}.{{ .Values.namespace.name }}.svc.cluster.local
{{- end }}